
    <h1>This is where we are.</h1>
<form class="create-form">
    <div class="form-group">
        <label for="title" style="font-size: 20px;">Title: </label>
        <input type="text" id="title" name="name">
    </div>
    <div class="form-group">
        <label for="content" style="font-size: 20px;">Please leave your comment: </label>
        <input type="text" id="content" name="name">
    </div>
</form>

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">